:root {
  --sidebar-colour: #5555AA;
  --content-colour: grey;
  --border-colour: rgb(64, 64, 64);
  --header-colour: white;
  --shadow-colour: rgb(90, 90, 90);
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  background-color: black;
}

.dashboard {
  width: 65.7%;
  height: 100vh;
  display: grid;
  grid-template: 30fr 1fr 140fr / 4fr 15fr;
}

.sidebar {
  background-color: var(--sidebar-colour);
  grid-area: 1 / 1 / -1 / 2;
  display: grid;
  grid-template: 3rem repeat(10, 1rem) 1fr / 1fr 4fr;
  gap: 1rem;
}

.sidebar-divider {
  grid-column: 1 / -1;
}

.header {
  grid-area: 1 / 2 / 2 / -1;
  display: grid;
  grid-template: 3fr 4fr / 2fr 1fr;
  background-color: var(--header-colour);
}

.border {
  width: 100%;
  height: 100%;
  grid-area: 2 / 2 / 3 / -1;
  background: linear-gradient(var(--border-colour), var(--content-colour));
}

.main-content {
  grid-area: 3 / 2 / -1 / -1;
  display: grid;
  background-color: var(--content-colour);
  grid-template: 1fr 1fr / 11fr 4fr;
  gap: 30px;
  padding-left: 30px;
  padding-right: 40px;
  padding-bottom: 3.5rem;
}

.projects {
  grid-area: 1 / 1 / -1 / 2;
  display: grid;
  grid-template: 2rem repeat(3, 1fr) / repeat(2, 1fr);
  gap: 30px;
}

.card {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 2px 2px 2px var(--shadow-colour);
}

h2 {
  font-size: 45px;
}

h3 {
  grid-column: 1 / -1;
  margin-right: auto;
  margin-bottom: -15px;
  align-self: end;
  font-size: 24px;
}

.sidebar > p {
  font-size: 32px;
}

.announcements {
  grid-area: 1 / 2 / 2 / -1;
  display: grid;
  grid-template: 2rem 1fr / 1fr;
  gap: 30px;
}

.announce-content {
  display: grid;
  grid-template: repeat(3, 1fr);
  padding: 1rem;
}

.trending {
  grid-area: 2 / 2 / -1 / -1;
  display: grid;
  grid-template: 2rem 1fr / 1fr;
  gap: 30px;
}