:root {
  --sidebar-colour: #2292dd;
  --content-colour: #e6e3e1;
  --border-colour: rgb(64, 64, 64);
  --header-colour: white;
  --shadow-colour: rgb(90, 90, 90);
  --light-text-colour: white;
}

@font-face {
  font-family: Roboto;
  src: url("Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: Roboto-bold;
  src: url("Roboto/Roboto-Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  background-color: black;
}

.dashboard {
  width: 65.7%;
  height: 100vh;
  display: grid;
  grid-template: 30fr 1fr 140fr / 4fr 15fr;
}

.sidebar {
  background-color: var(--sidebar-colour);
  grid-area: 1 / 1 / -1 / 2;
  display: grid;
  grid-template: 52px repeat(11, 58px) 1fr / 1fr 3fr;
  padding-top: 28px;
}

.icon {
  display: flex;
  justify-content: center;
}

#dashboard-icon {
  display: block;
  position: relative;
}

#dashboard-icon > img {
  position: absolute;
  height: 105%;
  left: 18px;
  bottom: 3px;
}

.icon > img {
  padding-left: 3px;
  padding-top: 1px;
  height: 48%;
}

.sidebar-divider {
  grid-column: 1 / -1;
}

.header {
  grid-area: 1 / 2 / 2 / -1;
  display: grid;
  gap: 20px;
  grid-template: 3fr 4fr / 2fr 1fr;
  background-color: var(--header-colour);
  padding: 10px 40px;
}

.header-links {
  display: grid;
  grid-template: 50px / 1fr 1fr 1fr;
  gap: 20px;
}

.header-links > a {
  color: var(--light-text-colour);
  text-decoration: none;
  text-align: center;
  font-size: 24px;
  padding: 10px 18px;
  background-color: var(--sidebar-colour);
  border-radius: 12px;
}

.border {
  width: 100%;
  height: 100%;
  grid-area: 2 / 2 / 3 / -1;
  background: linear-gradient(var(--border-colour), var(--content-colour));
}

.main-content {
  grid-area: 3 / 2 / -1 / -1;
  display: grid;
  background-color: var(--content-colour);
  grid-template: 1fr 1fr / 11fr 4fr;
  gap: 30px;
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 40px;
  padding-bottom: 75px;
}

.projects {
  grid-area: 1 / 1 / -1 / 2;
  display: grid;
  grid-template: 2rem repeat(3, 1fr) / repeat(2, 1fr);
  gap: 30px;
}

.card {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 4px 4px 4px var(--shadow-colour);
}

h2 {
  font-size: 33px;
  font-family: Roboto-bold, Verdana, sans-serif;
}

h3 {
  grid-column: 1 / -1;
  font-size: 24px;
  margin-top: 25px;
}

.sidebar > div > p {
  font-family: Roboto-bold, Verdana, sans-serif;
  font-size: 26px;
  color: var(--light-text-colour);
}

.sidebar > div > h2 {
  color: var(--light-text-colour);
}

.announcements {
  grid-area: 1 / 2 / 2 / -1;
  display: grid;
  grid-template: 2rem 1fr / 1fr;
  gap: 30px;
}

.announce-content {
  display: grid;
  grid-template: repeat(3, 1fr);
  padding: 1rem;
}

.trending {
  grid-area: 2 / 2 / -1 / -1;
  display: grid;
  grid-template: 2rem 1fr / 1fr;
  gap: 30px;
}