:root {
  --sidebar-colour: #2292dd;
  --content-colour: #e6e3e1;
  --border-colour: rgb(64, 64, 64);
  --header-colour: white;
  --shadow-colour: rgb(90, 90, 90);
  --light-text-colour: white;
  --card-border-colour: #cebd23;
}

@font-face {
  font-family: Roboto;
  src: url('Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: Roboto-bold;
  src: url('Roboto/Roboto-Bold.ttf');
}

@font-face {
  font-family: Roboto-light;
  src: url('Roboto/Roboto-Light.ttf')
}

@font-face {
  font-family: Roboto-medium;
  src: url('Roboto/Roboto-Medium.ttf')
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  background-color: black;
}

.dashboard {
  width: 65.7%;
  height: 100vh;
  display: grid;
  grid-template: 25fr 1fr 140fr / 4fr 15fr;
}

.sidebar {
  background-color: var(--sidebar-colour);
  grid-area: 1 / 1 / -1 / 2;
  display: grid;
  grid-template: 52px repeat(11, 58px) 1fr / 1fr 3fr;
  padding-top: 28px;
}

.icon {
  display: flex;
  justify-content: center;
}

#dashboard-icon {
  display: block;
  position: relative;
}

#dashboard-icon > img {
  position: absolute;
  height: 105%;
  left: 18px;
  bottom: 5px;
}

.icon > img {
  padding-left: 3px;
  padding-top: 1px;
  height: 48%;
}

.search-icon > img {
  height: 28px;
}

.sidebar-divider {
  grid-column: 1 / -1;
}

.header {
  grid-area: 1 / 2 / 2 / -1;
  display: grid;
  gap: 20px;
  grid-template: 83px 83px / 20fr 11fr;
  background-color: var(--header-colour);
  padding: 4px 55px 16px 30px;
}

form {
  grid-area: 1 / 1 / 2 / 2;
  display: grid;
  grid-template: 1fr / 1fr 15fr;
  gap: 20px;
  align-items: center;
}

button[type="submit"] {
  background-color: transparent;
  border-style: none;
  margin-left: auto;
}

.top-name-small {
  display: grid;
  grid-template: 1fr / 1fr 1fr 2fr;
  padding-left: 70px;
  padding-right: 10px;
  place-items: center;
}

.top-name-main {
  display: grid;
  grid-template: 2fr 3fr / 1fr 6fr;
}

#bighead {
  height: 75px;
}

#bigheadlarge {
  height: 93px;
  justify-self: center;
  grid-row: 1 / -1;
}

#bell {
  height: 28px;
}

#mynamesmall {
  font-family: Roboto-bold, sans-serif;
  font-size: 22px;
}

#mynamelarge {
  padding-left: 20px;
  font-family: Roboto-bold, sans-serif;
  font-size: 28px;
}

#greetings {
  font-family: Roboto-bold, sans-serif;
  font-size: 17px;
  align-self: center;
  padding-left: 20px;
}

.header-links {
  display: grid;
  grid-template: 50px / 1fr 1fr 1fr;
  gap: 19px;
  align-content: center;
}

.header-links > a {
  color: var(--light-text-colour);
  text-decoration: none;
  text-align: center;
  font-family: Roboto-bold;
  font-size: 19px;
  width: 117px;
  height: 48px;
  line-height: 48px;
  background-color: var(--sidebar-colour);
  border-radius: 24px;
}

input[type="search"] {
  width: 705px;
  height: 35px;
  background-color: var(--content-colour);
  border-radius: 17px;
  border-style: none;
}

.border {
  width: 100%;
  height: 100%;
  grid-area: 2 / 2 / 3 / -1;
  background: linear-gradient(rgb(180, 178, 178), var(--content-colour));
}

.main-content {
  grid-area: 3 / 2 / -1 / -1;
  display: grid;
  background-color: var(--content-colour);
  grid-template: 1fr 1fr / 14fr 5fr;
  gap: 30px;
  padding-top: 9px;
  padding-left: 25px;
  padding-right: 40px;
  padding-bottom: 75px;
}

.projects {
  grid-area: 1 / 1 / -1 / 2;
  display: grid;
  grid-template: 34px repeat(3, 1fr) / repeat(2, 1fr);
  column-gap: 30px;
  row-gap: 36px;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 3px var(--shadow-colour);
}

.project-card {
  border-left: 10px solid var(--card-border-colour);
}

h2 {
  padding-left: 2px;
  font-size: 33px;
  font-weight: 550;
  font-family: Roboto-bold, Verdana, sans-serif;
}

h3 {
  font-family: Roboto-medium, Verdana, sans-serif;
  font-weight: 500;
  grid-column: 1 / -1;
  font-size: 24px;
  margin-top: 28px;
}

.sidebar > div > p {
  font-family: Roboto-bold, Verdana, sans-serif;
  font-size: 26px;
  color: var(--light-text-colour);
}

.sidebar > div > h2 {
  color: var(--light-text-colour);
}

.announcements {
  grid-area: 1 / 2 / 2 / -1;
  display: grid;
  grid-template: 34px 1fr / 1fr;
  gap: 36px;
}

.announce-content {
  display: grid;
  grid-template: repeat(3, 1fr);
  padding: 1rem;
}

.trending {
  grid-area: 2 / 2 / -1 / -1;
  display: grid;
  grid-template: 34px 1fr / 1fr;
  gap: 36px;
}